.promo {
    padding-bottom: 120px;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        width: 60%;
        max-width: 868px;
    }

    &__head {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(51, 26, 47, 0.5);
        margin-bottom: 15px;
    }

    &__title {
        font-weight: 700;
        font-size: 56px;
        line-height: 80px;
        margin-bottom: 22px;
        color: $dark-text;

        span {
            color: $pink;
        }
    }

    &__price {
        display: flex;
        align-items: flex-end;
        width: 256px;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 22px;

        &-value {
            margin-left: 25px;
            color: $light-text;
        }

        span {
            font-weight: 700;
            font-size: 38px;
            line-height: 34px;
            color: $pink;
            margin: 0 10px;
        }

        svg {
            width: 48px;
            height: 48px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 25px;
        line-height: 160%;
        color: $light-text;

        p {
            margin-bottom: 15px;
        }
    }

    &__image {
        width: 40%;
        max-width: 560px;
        height: 560px;
        position: relative;
        z-index: 1;

        &-stars {
            background: url(./../img/stars.png) center/cover no-repeat;
            width: 620px;
            height: 563px;
            position: absolute;
            top: 260px;
            left: 0;
            z-index: -1;
        }

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}